*.pyc
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

/playingwithfusion/version.py
/playingwithfusion/_init_playingwithfusion.py
/playingwithfusion/include
/playingwithfusion/lib
/playingwithfusion/rpy-include
/playingwithfusion/pkgcfg.py

/playingwithfusion/_pwf_driver/_init_playingwithfusion_driver.py
/playingwithfusion/_pwf_driver/include
/playingwithfusion/_pwf_driver/lib
/playingwithfusion/_pwf_driver/rpy-include
/playingwithfusion/_pwf_driver/pkgcfg.py


*.dylib
*.dll

rev/rpy-include