*.py[ciod]
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
/build
/dist
/lib

/playingwithfusion/version.py
/playingwithfusion/_init__playingwithfusion.py
/playingwithfusion/trampolines
/playingwithfusion/playingwithfusion.pc

*.dylib
*.dll
